.category {
    background-image: url("https://images.unsplash.com/photo-1627286400579-027de47e9e73");
    width: 215px;
    height: 215px;
    background-position: center;
    color: var(--color-white);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 6px;
    box-shadow: inset 0px -50px 50px -30px rgba(0,0,0,0.8);
}

.category .card-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 15px;
    padding-left: 15px;
}

.category .card-title {
    font-size: 22px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
    font-weight: 400;
}
    
.category .card-body svg {
    margin-bottom: 4px;
}

@media screen and (max-width: 992px) {
    .category {
        width: 90px;
        height: 90px;
    }
    
    .category .card-body {
        padding-bottom: 5px;
        padding-left: 5px;
    }
    
    .category .card-title {
        font-size: 10px;
    }
    
    .category .card-body svg {
        margin-bottom: -3px;
    }
}