.recette {
    width: 280px;
}

.recette img:not(.marmiplug-difficulty__img) {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.recette .marmiplug-difficulty {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.recette .filled-marmish path {
    fill: #E17C78;
}

.recette .black-marmish path {
    fill: var(--color-black);
}

.recette .card-text {
    font-size: 10px;
    color: var(--color-gray-400);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.recette .card-title {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.recette .caracteristics {
    font-size: 12px;
    color: var(--color-gray-900)
}

.recette .caracteristics p {
    margin-left: 5px;
}

.recette .caracteristics svg {
    width: 20px;
    margin-bottom: 3px;
}

.recette .temps-recette,
.recette .note-recette,
.recette .difficulte-recette {
    display: flex;
    align-items: center;    
}

.recette .note-recette {
    justify-content: flex-end;
}

.recette .difficulte-recette {
    justify-content: center;
}

.recette p {
    margin: 0;
}

.recette .card-body, .recette {
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.number-of-portion {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    align-items: center;
    background: var(--color-gray-50);
    padding-top: 40px;
}
.number-of-portion .flex{
    gap: 15px;
    align-items: center;

}
.number-of-portion .flex button {
    color: var(--color-white);
    background-color: var(--color-gray-700);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
}
.number-of-portion p {
    margin-bottom: 18px;
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.number-of-portion .flex p {
    color: var(--color-gray-800);
    background-color: var(--color-white);
    border: solid 1.5px var(--color-gray-300);
    border-radius: 4px;
    font-weight: 700;
    margin: 0;
    width: 60px;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.comment-awaiting-moderation{
    display: block;
    width: 100% !important;
}

.preparation-steps p {
    margin-top: 30px;
    margin-bottom: 0px;
    margin-left: 20px;
}

.preparation-steps p::before {
    content: '-';
    padding-right: 10px;
    /* margin: 0px 15px 0 5px; */
    /* border-radius: 50%; */
    /* border: 1px solid var(--color-main); */
    color: var(--color-main);
    /* position: absolute; */
    /* transform: translateX(-55px) translateY(-5px); */
}